<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/product.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/form.css" />
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1>Admin Products</h1>
        <p>List of all the products...</p>
            <% if ( prods.length > 0 ) { %>
                <div class="grid">
                    <% for (let i=0; i < prods.length; i++) { %>
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="product__title"><%= prods[i].title %></h1>
                            </header>
                            <div class="card__image">
                                <img src="<%= prods[i].imageUrl %>" alt="A Book">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">$<%= prods[i].price %></h2>
                                <p class="product__description"><%= prods[i].description %></p>
                            </div>
                            <div class="card__actions">
                                <a href="/admin/edit-product" class="btn">Edit</button>
                                <form action="/admin/delete-product" method="POST">
                                    <button class="btn">Delete</button>
                                </form>
                            </div>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <div class="grid">
                    <h3>No Products found</h3>
                </div>
            <% } %> 
    </main>
<%- include('../partials/end.ejs') %>